parameters:
    level: 8
    paths:
        - packages/core/src
        - packages/db/src
        - packages/validate/src
        - packages/view/src
        - packages/http-client/src
    excludePaths:
        - packages/*/tests